* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
}
header h1 {
    font-family: "Verdana", sans-serif;
    position: absolute;
}
@media (max-width:991px) {
    header {
        width: 100%;
        height: 50vh;
        background-image: url(../obrazy/man-1.jpg);
        background-size: cover, 100% 50%;
        background-repeat: no-repeat;
    }
      header h1 {
        top: 100%;
        transform: translate(150% 300%);
        left: 20%;
        text-align: center;
    }
}
@media (min-width:992px) and (max-width:1170px) {
    header {
        width: 100%;
        height: 70vh;
        background-image: url(../obrazy/man-2.jpg);
        background-size: cover, 100% 70%;
        background-repeat: no-repeat;  
    }
    header h1{
        right: 40px;
        transform: translateY(50%);
        color: #fff;
    }
}
    @media (min-width:1171px) {
        header {
            width: 100%;
            height: 100vh;
            background-image: url(../obrazy/man-1.jpg);
            background-size: cover;
        }
        header h1 {
        bottom: 300px;
        left: 50px;
        color: #fff;
    }
}